
<!-- Navigation -->
<nav class="navbar" id="navbar">
  <div class="container">
    <a href="index.html" class="nav-logo">
      <img src="Brand_assets/ECRC-Logo.jpg" alt="ECRC Logo" />
      <span class="nav-logo-text">East Coast Rowing Council</span>
    </a>
    <ul class="nav-links">
      <li><a href="index.html" class="active">Home</a></li>
      <li><a href="index.html#news">News</a></li>
      <li><a href="index.html#events">Events</a></li>
      <li><a href="index.html#results">Results</a></li>
      <li><a href="index.html#clubs">Clubs</a></li>
      <li><a href="rulebook.html">Rulebook</a></li>
      <li><a href="about.html">About Us</a></li>
      <li class="nav-divider"></li>
    </ul>
    <div class="nav-cta">
      <a href="login.html" class="btn-login">Log In</a>
    </div>
    <div class="hamburger" id="hamburger" onclick="toggleMenu()">
      <span></span><span></span><span></span>
    </div>
  </div>
  <div class="mobile-menu" id="mobile-menu">
    <a href="index.html">Home</a>
    <a href="index.html#news">News</a>
    <a href="index.html#events">Events</a>
    <a href="index.html#results">Results</a>
    <a href="index.html#clubs">Clubs</a>
    <a href="rulebook.html">Rulebook</a>
    <a href="about.html">About Us</a>
    <a href="login.html" class="btn-login">Log In</a>
  </div>
</nav>
